{% extends 'main/base.html' %}
{% block title %}
    User Profile
{% endblock %}

{% block content %}
    {% if user.is_customer %}
        <div style="display: ruby;">
            <h1>{{ user.username }} ({{user_age}} y/o)</h1>
            <p>{{ user.email }}</p>
            <p style="float: right;">Customer</p>
        </div>
    {% else %}
        <div style="display: ruby;">
            <h1>{{ user.username }}</h1>
            <p> {{ user.email }}</p>
            <p style="float: right;">{{ user.company.field_of_work }} Company</p>
        </div>
    {% endif %}

    <p class="title">
        {% if user.is_customer %}
            Previous Requested Services
        {% else %}
            Available Services
        {% endif %}
    </p>

    {% if user.is_customer %}
    

    {% if requested_services %}
   
    <ul>
        {% for service in requested_services %}
            <li>
                <a href="{% url 'request_service' service.service.id %}" style="text-decoration: none; color: rgb(226, 72, 45);">
                    <strong>{{ service.service.name }}</strong>
                </a> 
                >> ({{ service.service.field }}),  
                -- Price per hour: {{ service.service.price_hour }}€,  
                - Requested on {{ service.request_date|date:"M d, Y" }}  
                {{ service.request_date|time:"H:i" }}
                {% if service.status %}
                    (Status: {{ service.status }})
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have not requested any services yet.</p>
{% endif %}

    
    {% else %}
        {% for service in services %}
            <div class="list_services_profile">
                <a href="/services/{{ service.id }}">{{ service.name }}</a> -- {{ service.price_hour }}€/hour
                <div class="line"></div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
