{% extends 'main/base.html' %} 
{% load static %}

{% block title %}
    NetFix
{% endblock %}

{% block content %}
    <div style="margin-top: 50px;">
        <p class="site_title">NetFix</p>
        <img class="home_logo" src="{% static 'css/logo.png' %}" alt="logo">
    </div>

    <h2>Most Requested Services</h2>
    <ul>
        {% for service in top_services %}
            <li style="margin-bottom: 15px;"> 
                <b>
                    {{ service.service__name }} - {{ service.service__company__name }} - {{ service.service__field }}  
                    ({{ service.request_count }} requests) - created by {{ service.service__company__user__email }}
                </b>
                {% if is_customer %}
                    <a href="{% url 'request_service' service.service__id %}">Request</a>
                {% endif %}
            </li>
        {% empty %}
            <p>No services requested yet.</p>
        {% endfor %}
    </ul>
{% endblock %}
